<h1> Create a Post </h1>

<% if flash[:my_errors] %>
<ul>
<% flash[:my_errors].each do |error| %>
    <li> <%= error %> </li>
<% end %>
 </ul>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title%>
        <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.label :likes %>
    <%= f.number_field :likes%>
    <br>
    <%= f.label :blogger_id%>
    <%= f.collection_select :blogger_id, @bloggers, :id, :name%>
    <br>
    <%= f.label :destination_id%>
    <%= f.collection_select :destination_id, @destinations, :id, :name%>
    <%= f.submit%>
    
<% end %>