<h1><%=@destination.name%> - <%=@destination.country%>
<h2><%= link_to @featured_post.title, @featured_post %>
<h3>Average Likes: <%=@average_likes%></h3>
<p>Most Recent Posts: <%=@most_recent_posts%></p>

